<p id="notice"><%= notice %></p>

<h1>Artists</h1>

<% @artists.each do |artist| %>
  <div>
    <h2><%= link_to artist.name, artist %></h2>
    <p><%= artist.genre %></p>
    <p>
      <%= link_to 'Edit', edit_artist_path(artist) %>
      <%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  </div>
<% end %>

<br>

<%= link_to 'New Artist', new_artist_path %>
